pipeline/Autoline1_pipeline.json
{
	"name": "Autoline1_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy2",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set TodoSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": {
							"value": "@variables('TodoSQL')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Autoline1_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlob",
						"type": "DatasetReference",
						"parameters": {
							"OutputTable": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set TodoSQL",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TodoSql",
					"value": {
						"value": "@concat('SELECT TOP 100 * FROM ', pipeline().parameters.TableName)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			}
		},
		"variables": {
			"TodoTable": {
				"type": "String",
				"defaultValue": "SO_14_HEADERRECORDS"
			},
			"TodoSql": {
				"type": "String",
				"defaultValue": "select top 100 * from SO_14_Headerrecords"
			}
		},
		"folder": {
			"name": "Z_Samples"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-28T08:41:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}