pipeline/copyCS_NL_00_MKTARGETCSFIELDS.json
{
	"name": "copyCS_NL_00_MKTARGETCSFIELDS",
	"properties": {
		"activities": [
			{
				"name": "Set capeditsql",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set captabelnaamtoevoeging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "capeditedsql",
					"value": {
						"value": "@if(equals(pipeline().parameters.capdagen, '0'), '', concat(' where TIMESTAMPADD(SQL_TSI_DAY, 0, edited)  > TIMESTAMPADD(SQL_TSI_DAY, -', pipeline().parameters.capdagen, ', curdate())'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set captabelnaamtoevoeging",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "captabelnaamtoevoeging",
					"value": {
						"value": "@if(equals(pipeline().parameters.capdagen, '0'), '', concat('_lst', pipeline().parameters.capdagen, 'dgn'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy2",
				"description": "export debiteuren",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set capeditsql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('select * from sl_00_salesledgeraccounts ', variables('capeditedsql'))",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Autoline1_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetToDataLakeYGROUP",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat('autoline1/sl_00_salesledgeraccounts', variables('captabelnaamtoevoeging'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy3",
				"description": "export debiteuren",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set capeditsql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('select * from sl_00_salesledgeraccounts ', variables('capeditedsql'))",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Autoline2_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetToDataLakeYGROUP",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat('autoline2/sl_00_salesledgeraccounts', variables('captabelnaamtoevoeging'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy4",
				"description": "export debiteuren",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set capeditsql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('select * from sl_00_salesledgeraccounts ', variables('capeditedsql'))",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Autoline3_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetToDataLakeYGROUP",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat('autoline3/sl_00_salesledgeraccounts', variables('captabelnaamtoevoeging'))",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"capdagen": {
				"type": "string",
				"defaultValue": "30"
			}
		},
		"variables": {
			"capeditedsql": {
				"type": "String"
			},
			"captabelnaamtoevoeging": {
				"type": "String"
			},
			"capdate_sql": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Z_Samples"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-17T09:59:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}