pipeline/Copy idas tables.json
{
	"name": "Copy idas tables",
	"properties": {
		"activities": [
			{
				"name": "Copy doh",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('select\nDOH.*,\nDSA.SANAME,\nDSAC.SANAME as SANAMEC,\nDSAR.SANAME as SANAMER,\nCARVEH.BVINUM,\nCARVEH.BPRCDE,\nVKTR3.VKOFFN,\ncase when URMSHP.GHBTIM is null then URMSOP.GMBTIM else URMSHP.GHBTIM  end as GHBTIM,\ncase when URMSHP.GHDATE is null then URMSOP.GMDATE else URMSHP.GHDATE end as GHDATE\nFROM DASFPA.DOH DOH\n     LEFT JOIN DASFPA.DSA DSA ON DSA.SAUSER = DOH.OHUSIN and DSA.SAUSER <> ''''\n\tLEFT JOIN DASFPA.DSA DSAC ON DSAC.SAUSER = DOH.OHUSCR and DSAC.SAUSER <> ''''\n\tLEFT JOIN DASFPA.DSA DSAR ON DSAR.SARCPT = DOH.OHRCPT and DSAR.SARCPT <> ''''\n     LEFT JOIN DASFPA.CARVEH CARVEH ON CARVEH.BREGNO = DOH.OHREGN\n     LEFT JOIN DASFPA.VKTR3 VKTR3 ON VKTR3.VKKONT = DOH.OHORDN\n                                     AND VKTR3.VKFILN = DOH.OHBRAN\n\tLEFT JOIN DASFPA.URMSHP URMSHP ON URMSHP.GHSDOC = DOH.OHORDN \n\t\t\t\t\t\t\t  AND URMSHP.GHBRAN = DOH.OHBRAN\nLEFT JOIN DASFPA.URMSOP URMSOP ON URMSOP.GMSDOC = DOH.OHORDN \n\t\t\t\t\t\t\t  AND URMSOP.GMBRAN = DOH.OHBRAN\n\t\t\t\t\t\t\t  where DOH.OHBRAN = ', pipeline().parameters.bedrijf,'  and ((ohstat IN(0, 1, 2, 3, 4) and ohtype = ''W'' and OHINVC = '''' and cast(concat(concat(concat(concat(concat(doh.OHORCC,doh.OHORYY),''-''),trim(doh.OHORMM)),''-''), doh.OHORDD ) as date) >= ''',formatDateTime(adddays(utcnow(),-365), 'yyyy-MM-dd') , ''')) or (DOH.OHORDN in (', activity('Get wipnos').output.firstRow.werkorders, '))')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_doh] where OHBRAN = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OHBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHORDN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHORDN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHTYPE",
									"type": "String"
								},
								"sink": {
									"name": "OHTYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHSTAT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSTAT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHINVC",
									"type": "String"
								},
								"sink": {
									"name": "OHINVC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHTIME",
									"type": "String"
								},
								"sink": {
									"name": "OHTIME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHORCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHORCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHORYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHORYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHORMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHORMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHORDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHORDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCRIN",
									"type": "String"
								},
								"sink": {
									"name": "OHCRIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHCTYD",
									"type": "String"
								},
								"sink": {
									"name": "OHCTYD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHRCPT",
									"type": "String"
								},
								"sink": {
									"name": "OHRCPT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHPAYC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPAYC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHNORO",
									"type": "String"
								},
								"sink": {
									"name": "OHNORO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHNOIN",
									"type": "String"
								},
								"sink": {
									"name": "OHNOIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHNOTE",
									"type": "String"
								},
								"sink": {
									"name": "OHNOTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHPLCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPLCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPLYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPLYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPLMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPLMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPLDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPLDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPLHH",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPLHH",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPLMI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPLMI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPRCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPRYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPRMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPRDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRHH",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPRHH",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRMI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHPRMI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHNVCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHNVCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHNVYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHNVYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHNVMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHNVMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHNVDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHNVDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHVCOD",
									"type": "String"
								},
								"sink": {
									"name": "OHVCOD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHCUST",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHCUST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCUSN",
									"type": "String"
								},
								"sink": {
									"name": "OHCUSN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHADDR",
									"type": "String"
								},
								"sink": {
									"name": "OHADDR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHADD1",
									"type": "String"
								},
								"sink": {
									"name": "OHADD1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHADD2",
									"type": "String"
								},
								"sink": {
									"name": "OHADD2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHADD3",
									"type": "String"
								},
								"sink": {
									"name": "OHADD3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHCREF",
									"type": "String"
								},
								"sink": {
									"name": "OHCREF",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHTELP",
									"type": "String"
								},
								"sink": {
									"name": "OHTELP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHTELW",
									"type": "String"
								},
								"sink": {
									"name": "OHTELW",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHCUCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHCUCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHARCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHARCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHARYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHARYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHARMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHARMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHARDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHARDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHARHH",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHARHH",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHARMI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHARMI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHDCAT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHDCAT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHLANC",
									"type": "String"
								},
								"sink": {
									"name": "OHLANC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHWDEL",
									"type": "String"
								},
								"sink": {
									"name": "OHWDEL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHSHP1",
									"type": "String"
								},
								"sink": {
									"name": "OHSHP1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHSHP2",
									"type": "String"
								},
								"sink": {
									"name": "OHSHP2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHSHP3",
									"type": "String"
								},
								"sink": {
									"name": "OHSHP3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHCLAS",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHCLAS",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHREGN",
									"type": "String"
								},
								"sink": {
									"name": "OHREGN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHCHNO",
									"type": "String"
								},
								"sink": {
									"name": "OHCHNO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHPRCD",
									"type": "String"
								},
								"sink": {
									"name": "OHPRCD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHRTCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHRTCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHRTYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHRTYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHRTMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHRTMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHRTDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHRTDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHMILE",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHMILE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHMDCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHMDCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHMDYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHMDYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCHVR",
									"type": "String"
								},
								"sink": {
									"name": "OHCHVR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHTRNO",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHTRNO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCARI",
									"type": "String"
								},
								"sink": {
									"name": "OHCARI",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHDRIV",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHDRIV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHBEDR",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHBEDR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCOWN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHCOWN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCLCP",
									"type": "String"
								},
								"sink": {
									"name": "OHCLCP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHPAST",
									"type": "String"
								},
								"sink": {
									"name": "OHPAST",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHHIST",
									"type": "String"
								},
								"sink": {
									"name": "OHHIST",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHAFLG",
									"type": "String"
								},
								"sink": {
									"name": "OHAFLG",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHLPGC",
									"type": "String"
								},
								"sink": {
									"name": "OHLPGC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHPRYN",
									"type": "String"
								},
								"sink": {
									"name": "OHPRYN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHMILB",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHMILB",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHPRIN",
									"type": "String"
								},
								"sink": {
									"name": "OHPRIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHHMEC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHHMEC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHBUSY",
									"type": "String"
								},
								"sink": {
									"name": "OHBUSY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHINVN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINVN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHSUMT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSUMT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHSUMF",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSUMF",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHSUBV",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSUBV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHSUMV",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSUMV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHSUMD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSUMD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHSMFR",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHSMFR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHEXTC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHEXTC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHMISC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHMISC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHCRNO",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHCRNO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHVRMT",
									"type": "String"
								},
								"sink": {
									"name": "OHVRMT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHINCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHINYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHINMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHINDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHINHH",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINHH",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHINMI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHINMI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFHH",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFHH",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFMI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFMI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHOFAM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFAM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHTXIN",
									"type": "String"
								},
								"sink": {
									"name": "OHTXIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHWSNO",
									"type": "String"
								},
								"sink": {
									"name": "OHWSNO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHDSJN",
									"type": "String"
								},
								"sink": {
									"name": "OHDSJN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHSDAF",
									"type": "String"
								},
								"sink": {
									"name": "OHSDAF",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHSMIV",
									"type": "String"
								},
								"sink": {
									"name": "OHSMIV",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHNOHC",
									"type": "String"
								},
								"sink": {
									"name": "OHNOHC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHAROB",
									"type": "String"
								},
								"sink": {
									"name": "OHAROB",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHFL01",
									"type": "String"
								},
								"sink": {
									"name": "OHFL01",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHTNLM",
									"type": "String"
								},
								"sink": {
									"name": "OHTNLM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLPLAN",
									"type": "Int16"
								},
								"sink": {
									"name": "PLPLAN",
									"type": "Int16"
								}
							},
							{
								"source": {
									"name": "PLDAT1",
									"type": "DateTime"
								},
								"sink": {
									"name": "PLDAT1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLTIM1",
									"type": "String"
								},
								"sink": {
									"name": "PLTIM1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLDAT2",
									"type": "DateTime"
								},
								"sink": {
									"name": "PLDAT2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLTIM2",
									"type": "String"
								},
								"sink": {
									"name": "PLTIM2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLWRNR",
									"type": "String"
								},
								"sink": {
									"name": "PLWRNR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PLDRIV",
									"type": "Decimal"
								},
								"sink": {
									"name": "PLDRIV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHAAGI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHAAGI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHAAKJ",
									"type": "String"
								},
								"sink": {
									"name": "OHAAKJ",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHAAGN",
									"type": "String"
								},
								"sink": {
									"name": "OHAAGN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHHERH",
									"type": "String"
								},
								"sink": {
									"name": "OHHERH",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHELFA",
									"type": "String"
								},
								"sink": {
									"name": "OHELFA",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHOFNR",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHOFNR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHALDC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OHALDC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OHROCF",
									"type": "String"
								},
								"sink": {
									"name": "OHROCF",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHUSCR",
									"type": "String"
								},
								"sink": {
									"name": "OHUSCR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHUSIN",
									"type": "String"
								},
								"sink": {
									"name": "OHUSIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OHABBL",
									"type": "String"
								},
								"sink": {
									"name": "OHABBL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SANAME",
									"type": "String"
								},
								"sink": {
									"name": "SANAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SANAMEC",
									"type": "String"
								},
								"sink": {
									"name": "SANAMEC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SANAMER",
									"type": "String"
								},
								"sink": {
									"name": "SANAMER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BVINUM",
									"type": "String"
								},
								"sink": {
									"name": "BVINUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BPRCDE",
									"type": "String"
								},
								"sink": {
									"name": "BPRCDE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VKOFFN",
									"type": "String"
								},
								"sink": {
									"name": "VKOFFN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GHBTIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GHBTIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "GHDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "GHDATE",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_doh",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get wipnos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('\nSELECT TOP 1 coalesce(STUFF(\n                      (\n                          SELECT DISTINCT '',''+CAST(wipno AS VARCHAR)\n                          FROM [dbo].doorgangen A where dms = ''idas'' and vestiging = ', pipeline().parameters.bedrijf, ' FOR XML PATH('''')\n                      ), 1, 1, ''''), ''0'') as werkorders ')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Doorgangen_idas_doh",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy dot",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nselect OTORDN,OTBRAN,OTTEXT from DASFPA.dot where OTORDN in (', activity('Get wipnos').output.firstRow.werkorders, ') and OTBRAN = ',pipeline().parameters.bedrijf)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_dot] where [OTBRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OTORDN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OTORDN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OTBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OTBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OTTEXT",
									"type": "String"
								},
								"sink": {
									"name": "OTTEXT",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_dot",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy dow",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nSELECT * FROM DASFPA.DOW where OWORDN in (', activity('Get wipnos').output.firstRow.werkorders, ') and OWBRAN = ',pipeline().parameters.bedrijf)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_dow] where [OWBRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OWBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWORDN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWORDN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWORDL",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWORDL",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWSTAT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWSTAT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWWOPN",
									"type": "String"
								},
								"sink": {
									"name": "OWWOPN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWMENU",
									"type": "String"
								},
								"sink": {
									"name": "OWMENU",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWVOLG",
									"type": "String"
								},
								"sink": {
									"name": "OWVOLG",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWOPTP",
									"type": "String"
								},
								"sink": {
									"name": "OWOPTP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWTEXT",
									"type": "String"
								},
								"sink": {
									"name": "OWTEXT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWHOUR",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWHOUR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWAMNT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWAMNT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWLRAT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWLRAT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPFAC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPFAC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWVATC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWVATC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPAYC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPAYC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWQUAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWQUAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWDISC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWDISC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWDISP",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWDISP",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWHMEC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWHMEC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPRYN",
									"type": "String"
								},
								"sink": {
									"name": "OWPRYN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWACCD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWACCD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWSORT",
									"type": "String"
								},
								"sink": {
									"name": "OWSORT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWUSTI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWUSTI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWJOBN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWJOBN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPFCC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPFCC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPFYY",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPFYY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPFMM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPFMM",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPFDD",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPFDD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWMOPC",
									"type": "String"
								},
								"sink": {
									"name": "OWMOPC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWPOSC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPOSC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWSYMC",
									"type": "String"
								},
								"sink": {
									"name": "OWSYMC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWCAUS",
									"type": "String"
								},
								"sink": {
									"name": "OWCAUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWCLTP",
									"type": "String"
								},
								"sink": {
									"name": "OWCLTP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWCNPC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWCNPC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWEXPC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWEXPC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPAYI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPAYI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWPAYE",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWPAYE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWFL13",
									"type": "String"
								},
								"sink": {
									"name": "OWFL13",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWPRDT",
									"type": "String"
								},
								"sink": {
									"name": "OWPRDT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWAVOK",
									"type": "String"
								},
								"sink": {
									"name": "OWAVOK",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWTEXI",
									"type": "String"
								},
								"sink": {
									"name": "OWTEXI",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWANCD",
									"type": "String"
								},
								"sink": {
									"name": "OWANCD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWPAPU",
									"type": "String"
								},
								"sink": {
									"name": "OWPAPU",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWSRTV",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWSRTV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWSRTT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWSRTT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWTEXE",
									"type": "String"
								},
								"sink": {
									"name": "OWTEXE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWUITG",
									"type": "String"
								},
								"sink": {
									"name": "OWUITG",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWSFEBD",
									"type": "String"
								},
								"sink": {
									"name": "OWSFEBD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWNORDN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWNORDN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWCOMP",
									"type": "String"
								},
								"sink": {
									"name": "OWCOMP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OWVAST",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWVAST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWURTF",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWURTF",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWRESV",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWRESV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWRESA",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWRESA",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWRUIT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWRUIT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWKLMT",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWKLMT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWMILI",
									"type": "Decimal"
								},
								"sink": {
									"name": "OWMILI",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "OWEDES",
									"type": "String"
								},
								"sink": {
									"name": "OWEDES",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_dow",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy urmshp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nSELECT * FROM DASFPA.URMSHP where GHSDOC in (', activity('Get wipnos').output.firstRow.werkorders, ') and GHBRAN = ',pipeline().parameters.bedrijf, ' or GHDATE = ''', formatDateTime(utcnow(), 'yyyy-MM-dd'),''' and GHBRAN = ',pipeline().parameters.bedrijf)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_urmshp] where [GHBRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GHBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "GHBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GHSDOC",
									"type": "Decimal"
								},
								"sink": {
									"name": "GHSDOC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GHMONT",
									"type": "Decimal"
								},
								"sink": {
									"name": "GHMONT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GHDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "GHDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "GHBTIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GHBTIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "GHETIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GHETIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "GHGMIN",
									"type": "Decimal"
								},
								"sink": {
									"name": "GHGMIN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GHSTAT",
									"type": "String"
								},
								"sink": {
									"name": "GHSTAT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GHBKLK",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GHBKLK",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "GHEKLK",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GHEKLK",
									"type": "TimeSpan"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_urmshp",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy urmedw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nSELECT MWBRAN\n      ,MWMEDW\n      ,MWMEDN\n      ,MWMAST\n      ,MWMAEN\n      ,MWMAP1S\n      ,MWMAP1E\n      ,MWMAP2S\n      ,MWMAP2E\n      ,MWMAP3S\n      ,MWMAP3E\n      ,MWDIST\n      ,MWDIEN\n      ,MWDIP1S\n      ,MWDIP1E\n      ,MWDIP2S\n      ,MWDIP2E\n      ,MWDIP3S\n      ,MWDIP3E\n      ,MWWOST\n      ,MWWOEN\n      ,MWWOP1S\n      ,MWWOP1E\n      ,MWWOP2S\n      ,MWWOP2E\n      ,MWWOP3S\n      ,MWWOP3E\n      ,MWDOST\n      ,MWDOEN\n      ,MWDOP1S\n      ,MWDOP1E\n      ,MWDOP2S\n      ,MWDOP2E\n      ,MWDOP3S\n      ,MWDOP3E\n      ,MWVRST\n      ,MWVREN\n      ,MWVRP1S\n      ,MWVRP1E\n      ,MWVRP2S\n      ,MWVRP2E\n      ,MWVRP3S\n      ,MWVRP3E\n      ,MWZAST\n      ,MWZAEN\n      ,MWZAP1S\n      ,MWZAP1E\n      ,MWZAP2S\n      ,MWZAP2E\n      ,MWZAP3S\n      ,MWZAP3E\n      ,MWZOST\n      ,MWZOEN\n      ,MWZOP1S\n      ,MWZOP1E\n      ,MWZOP2S\n      ,MWZOP2E\n      ,MWZOP3S\n      ,MWZOP3E\n      ,MWVRYD\n      ,MWATVD\n      ,MWSALV\n      ,MWSALA\n      ,MWMOJN\n      ,MWPLJN\n      ,MWSEQN\n      ,MWPERC\n      ,MWDOOR\n      ,MWSPEC\n      ,MWVNLN\n      ,MWAFDL\n      ,MWKPUU\n      ,MWPAST\n      ,MWPAEN\n      ,MWP1ST\n      ,MWP1EN\n      ,MWP2ST\n      ,MWP2EN\n      ,MWZAUTYP\n      ,MWZOUTYP\n      ,MWUSER FROM DASFPA.URMEDW where MWBRAN = ',pipeline().parameters.bedrijf)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_urmedw] where [MWBRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MWBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMEDW",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMEDW",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMEDN",
									"type": "String"
								},
								"sink": {
									"name": "MWMEDN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWMAST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMAP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWMAP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDIP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDIP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWWOP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWWOP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVREN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVREN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZAP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOP1S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOP1S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOP1E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOP1E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOP2S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOP2S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOP2E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOP2E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOP3S",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOP3S",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZOP3E",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWZOP3E",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWVRYD",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVRYD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWATVD",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWATVD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWSALV",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWSALV",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWSALA",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWSALA",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWMOJN",
									"type": "String"
								},
								"sink": {
									"name": "MWMOJN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWPLJN",
									"type": "String"
								},
								"sink": {
									"name": "MWPLJN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWSEQN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWSEQN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWPERC",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWPERC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWDOOR",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWDOOR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWSPEC",
									"type": "String"
								},
								"sink": {
									"name": "MWSPEC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWVNLN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWVNLN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWAFDL",
									"type": "String"
								},
								"sink": {
									"name": "MWAFDL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWKPUU",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWKPUU",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWPAST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWPAST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWPAEN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWPAEN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWP1ST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWP1ST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWP1EN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWP1EN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWP2ST",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWP2ST",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWP2EN",
									"type": "Decimal"
								},
								"sink": {
									"name": "MWP2EN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "MWZAUTYP",
									"type": "String"
								},
								"sink": {
									"name": "MWZAUTYP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWZOUTYP",
									"type": "String"
								},
								"sink": {
									"name": "MWZOUTYP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MWUSER",
									"type": "String"
								},
								"sink": {
									"name": "MWUSER",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_urmedw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy urmsop",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nSELECT * FROM DASFPA.URMSOP where GMSDOC in (', activity('Get wipnos').output.firstRow.werkorders, ') and GMBRAN = ',pipeline().parameters.bedrijf, ' or GMDATE = ''', formatDateTime(utcnow(), 'yyyy-MM-dd'),''' and GMBRAN = ',pipeline().parameters.bedrijf)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_urmsop] where [GMBRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GMBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "GMBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GMSDOC",
									"type": "Decimal"
								},
								"sink": {
									"name": "GMSDOC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GMMONT",
									"type": "Decimal"
								},
								"sink": {
									"name": "GMMONT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GMDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "GMDATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "GMBTIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GMBTIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "GMETIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "GMETIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "GMSTAT",
									"type": "String"
								},
								"sink": {
									"name": "GMSTAT",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_urmsop",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy urawkd",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nSELECT * FROM DASFPA.URAWKD\nWHERE AWBRAN = ',pipeline().parameters.bedrijf)",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_urawkd] where [AWBRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AWBRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "AWBRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "AWKODE",
									"type": "String"
								},
								"sink": {
									"name": "AWKODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AWOMSC",
									"type": "String"
								},
								"sink": {
									"name": "AWOMSC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AWVKJN",
									"type": "String"
								},
								"sink": {
									"name": "AWVKJN",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_urawkd",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy urmahp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get wipnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@concat('\nSELECT * FROM DASFPA.URMAHP\nWHERE UABRAN = ',pipeline().parameters.bedrijf,' and uadate = ''', formatDateTime(utcnow(), 'yyyy-MM-dd'),'''')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('delete from [dbo].[idas_urmahp] where [UABRAN] = ', pipeline().parameters.bedrijf)}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "UABRAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "UABRAN",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "UAUTYP",
									"type": "String"
								},
								"sink": {
									"name": "UAUTYP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UAMEDW",
									"type": "Decimal"
								},
								"sink": {
									"name": "UAMEDW",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "UADATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "UADATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "UABTIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "UABTIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "UAETIM",
									"type": "TimeSpan"
								},
								"sink": {
									"name": "UAETIM",
									"type": "TimeSpan"
								}
							},
							{
								"source": {
									"name": "UAGMIN",
									"type": "Decimal"
								},
								"sink": {
									"name": "UAGMIN",
									"type": "Decimal"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "idas_tables_prod_srv_apps06",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Doorgangen_idas_urmahp",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"bedrijf": {
				"type": "string"
			}
		},
		"variables": {
			"wipno": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Doorgangen"
		},
		"annotations": [],
		"lastPublishTime": "2020-05-05T15:25:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}