pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": "select top 10 DESCU_  from \"GB_00_ODBCCatalogue\""
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Autoline1_Table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AZURE_CSC_PROD_SRV_SQL00",
						"type": "DatasetReference",
						"parameters": {
							"OutputTable": "GB_00_ODBCCatalogue"
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AZURE_CSC_PROD_SRV_SQL00",
						"type": "DatasetReference",
						"parameters": {
							"OutputTable": "GB_00_ODBCCatalogue"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append Variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "toDoTableNames",
								"value": {
									"value": "@item().ROWKEY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy Data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RelationalSource",
									"query": "select * from \"GB_00_ODBCCatalogue\""
								},
								"sink": {
									"type": "AzureTableSink",
									"azureTableInsertType": "merge",
									"writeBatchSize": 10000
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Autoline1_Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureTableFromParameter",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "vs_00_NewVehicleStock"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"toDoTableNames": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Z_Samples"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-22T16:17:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}