pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Get DMS and Bedrijf",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n       [DMS],\n       [bedrijf]\nFROM [dbo].[autoline_sync_status]\nWHERE bedrijf <> '00' and dms ='autoline1'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Doorgangen_autoline_sync_status",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get DMS and Bedrijf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DMS and Bedrijf').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecutePipeline Sync Autoline Tables",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sync Autoline Tables _OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"bedrijf": {
										"value": "@item().bedrijf",
										"type": "Expression"
									},
									"dms": {
										"value": "@item().DMS",
										"type": "Expression"
									},
									"headerrecordsTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_headr','_headerrecords'))",
										"type": "Expression"
									},
									"headerlogTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_loghd','_headerlog'))",
										"type": "Expression"
									},
									"labourlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_labor','_labourlines'))",
										"type": "Expression"
									},
									"partlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_parts','_partslines'))",
										"type": "Expression"
									},
									"clockentriesTable": {
										"value": "@concat('wl_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_clockentries','_clockentries'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n       [DMS],\n       [bedrijf]\nFROM [dbo].[autoline_sync_status]\nWHERE bedrijf <> '00' and dms ='autoline2'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Doorgangen_autoline_sync_status",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecutePipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sync Autoline Tables _OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"bedrijf": {
										"value": "@item().bedrijf",
										"type": "Expression"
									},
									"dms": {
										"value": "@item().DMS",
										"type": "Expression"
									},
									"headerrecordsTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_headr','_headerrecords'))",
										"type": "Expression"
									},
									"headerlogTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_loghd','_headerlog'))",
										"type": "Expression"
									},
									"labourlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_labor','_labourlines'))",
										"type": "Expression"
									},
									"partlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_parts','_partslines'))",
										"type": "Expression"
									},
									"clockentriesTable": {
										"value": "@concat('wl_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_clockentries','_clockentries'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n       [DMS],\n       [bedrijf]\nFROM [dbo].[autoline_sync_status]\nWHERE bedrijf <> '00' and dms ='autoline3'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Doorgangen_autoline_sync_status",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecutePipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sync Autoline Tables _OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"bedrijf": {
										"value": "@item().bedrijf",
										"type": "Expression"
									},
									"dms": {
										"value": "@item().DMS",
										"type": "Expression"
									},
									"headerrecordsTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_headr','_headerrecords'))",
										"type": "Expression"
									},
									"headerlogTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_loghd','_headerlog'))",
										"type": "Expression"
									},
									"labourlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_labor','_labourlines'))",
										"type": "Expression"
									},
									"partlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_parts','_partslines'))",
										"type": "Expression"
									},
									"clockentriesTable": {
										"value": "@concat('wl_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_clockentries','_clockentries'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n       [DMS],\n       [bedrijf]\nFROM [dbo].[autoline_sync_status]\nWHERE bedrijf <> '00' and dms ='autoline4'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Doorgangen_autoline_sync_status",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup3').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecutePipeline3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sync Autoline Tables _OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"bedrijf": {
										"value": "@item().bedrijf",
										"type": "Expression"
									},
									"dms": {
										"value": "@item().DMS",
										"type": "Expression"
									},
									"headerrecordsTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_headr','_headerrecords'))",
										"type": "Expression"
									},
									"headerlogTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_loghd','_headerlog'))",
										"type": "Expression"
									},
									"labourlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_labor','_labourlines'))",
										"type": "Expression"
									},
									"partlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_parts','_partslines'))",
										"type": "Expression"
									},
									"clockentriesTable": {
										"value": "@concat('wl_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_clockentries','_clockentries'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup4",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n       [DMS],\n       [bedrijf]\nFROM [dbo].[autoline_sync_status]\nWHERE bedrijf <> '00' and dms ='autoline5'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Doorgangen_autoline_sync_status",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach4",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup4').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ExecutePipeline4",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sync Autoline Tables _OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"bedrijf": {
										"value": "@item().bedrijf",
										"type": "Expression"
									},
									"dms": {
										"value": "@item().DMS",
										"type": "Expression"
									},
									"headerrecordsTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_headr','_headerrecords'))",
										"type": "Expression"
									},
									"headerlogTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_loghd','_headerlog'))",
										"type": "Expression"
									},
									"labourlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_labor','_labourlines'))",
										"type": "Expression"
									},
									"partlinesTable": {
										"value": "@concat('so_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_parts','_partslines'))",
										"type": "Expression"
									},
									"clockentriesTable": {
										"value": "@concat('wl_',item().bedrijf,if(equals(item().DMS,'autoline5'),'_clockentries','_clockentries'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Doorgangen/temp"
		},
		"annotations": [],
		"lastPublishTime": "2019-11-06T10:28:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}